body {
	margin: 0px;
	background: #999;
}
#postit{
	text-align:center;
	z-index:1;
	position:fixed;
	float:right;
	width:20%;
	margin-top: 250px;
	margin-left: 70%;
	margin-bottom:7px;
	padding-top: 9px;
	height:145px;
	background-color:#FFFF99;
	font-family: Brush Script MT,cursive;
	font-size: 16px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	text-decoration: none;
	box-shadow: 5px 5px 5px #888;
}
div#topbar {
	background: -webkit -linear -gradient(#666, #000);
	background: linear-gradient(#666, #000);
	height: 60px;
}
div#topbar > #logo{
	float: left;
	width: 150px;
	height: 35px;
	margin: 8px 0px 0px 30px;
	font-size: 36px;
	color: #999;
}
div#topbar > #btn{
		float: left;
		width: 144px;
		height: 46px;
		padding-top: 16px;
}
button{
	background: #F90;
}
div#topbar > #sections_panel{
	position: absolute;
	height: 0px;
	width: 550px;
	background: #000;
	top: 60px;
	left: 160px;
	border-radius: 0px 0px 8px 8px;
	overflow: hidden;
	z-index: 10000;
	transition: height0.3s linear 0s;
}
div#topbar > #sections_panel > div{
	background: #333;
	padding: 20px;
	height: 238px;
	margin: 10px;
	color: #FC0;
}
div > #skills_panel{
	position: absolute;
	height: 0px;
	width: 550px;
	background: #000;
	top: 15px;
	left: 160px;
	border-radius: 0px 0px 8px 8px;
	overflow: hidden;
	z-index: 10000;
	transition: height0.3s linear 0s;
}
div > #skills_panel > div{
	background: #333;
	padding: 20px;
	height: 238px;
	margin: 10px;
	color: #FC0;
}
div > #appDev_panel{
	position: relative;
	height: 0px;
	width: 550px;
	background: #000;
	top: 15px;
	left: 160px;
	border-radius: 0px 0px 8px 8px;
	overflow: hidden;
	z-index: 10000;
	transition: height 0.3s linear 0s;
}
div > #appDev_panel > div{
	background: #333;
	padding: 20px;
	height: 238px;
	margin: 10px;
	color: #FC0;
}
div > #asset_panel{
	position: relative;
	height: 0px;
	width: 550px;
	background: #000;
	top: 15px;
	left: 160px;
	border-radius: 0px 0px 8px 8px;
	overflow: hidden;
	z-index: 10000;
	transition: height0.3s linear 0s;
}
div > #asset_panel > div{
	background: #333;
	padding: 20px;
	height: 95px;
	margin: 10px;
	color: #FC0;
}
div > #cost_panel{
	position: relative;
	height: 0px;
	width: 550px;
	background: #000;
	top: 15px;
	left: 160px;
	border-radius: 0px 0px 8px 8px;
	overflow: hidden;
	z-index: 10000;
	transition: height0.3s linear 0s;
}
div > #cost_panel > div{
	background: #333;
	padding: 20px;
	height: 95px;
	margin: 10px;
	color: #FC0;
}
#email
	{margin-right:5px;
	padding-top:5px;
	font-size:14px;
	color: #800000;
	text-decoration: none;
}
h3{
	margin-left: 5px;
	margin-bottom: 10px;
}
.content p{
	margin-left:5px;
	margin-right:5px;
	margin-top:-10px;
}
ul{
	margin:10px 10px 10px 10px;
}
li{
	list-style-type:square;
}
a:hover{
	font-weight:bold;
}
.content{
	position:relative;
	float:left;
	margin-top:5px;
	margin-left: 5px;
	margin-bottom:10px;
	padding:10px;
	width:98%;
	border-radius: 8px;
	background-color:#e4c381;
}
footer{
	position:relative;
	background-color:#999;
	clear:both;
	font-size:14px;
	text-align:center;
	padding:6px;
	color: #800000;
}

